@import "../../_globalColor";

.meter {
  height: 1rem;
  position: relative;
  background: $progressBarBackground;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #7e9f46;
  position: relative;
  overflow: hidden;
}
.skill {
  line-height: 1.8rem;
  color:#7e9f46;
  font-family: $fontf;
  p{
    margin: 0px;
  }
}
.skill-dark {
  color:white;
}
.skills-heading{
  color:#7e9f46;
  font-size: $titlefs;
  font-weight: 700;
  font-family: $fontf;
}
.skills-heading-dark{
  color:white;
}
.skill-bars {
  font-size: 28px;
  width: 40%;
}

.stack{
  margin-inline: 1.2rem;
  font-size: 1.2rem;
}
.stack-dark{
  color: white;
}

.skills-container {
  display: flex;
  width: 90%;
  padding: 1.4rem 1rem;
  margin: 0px auto;
  margin-top: 2rem;
}
.skills-container > * {
  flex: 1;
  margin-bottom: 30px;
}
.skills-image > img {
  margin-left: 80px;
  max-width: 90%;
  height: auto;
}
.meter{
  margin-inline: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.fp {
  // box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  // -webkit-transition: all 0.3s ease;
  // -o-transition: all 0.3s ease;
  // transition: all 0.25s ease;
  border-radius: 1rem;
}

.main-skills{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.more-skills{
  margin-left: 0.8rem;
  margin-top: 2rem;
}

.more-skill{
  background-color: #7e9f46;
  font-family: $fontf;
  padding: 0.6rem 0.8rem;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  margin-left: 0px;
  margin-right: 0.4rem;

}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 4rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {

 .skill {
    line-height: 0.8rem;
    color:#7e9f46;
    font-family: $fontf;
    font-size: 1rem;
  }

  .skills-container {
    flex-direction: column;
    margin: 0rem;
  }
  .skills-bar {
    line-height: 1rem;
    margin-block: 0.8rem;
  }
  .skills-image {
    display: none;
    order: 2;
  }
  .meter{
    margin-inline: 1rem;
    margin-bottom: 0.6rem;
    margin-top: 0.2rem;
  }

  .fp{
    display: none;
  }
}
